
#header-jumbo img {
    max-width: 80%;
    height:auto;
}

#news-box{
    height:200vh;
    overflow: auto;
}

.title,#footer{
    background-color:#191970;
    color:white;
}

#cage img{
    width:100%;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index:1;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Signup form */
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
.req {
    color:maroon;
    font-size: 112%;
}
#dashboard{
    border:solid;
    border-color:white;
}
.container{
    width:100%;
}

#winnersBanner{
    color:white;
    background-color:green;
}
.floater{
    float:right;
}

.sidebar-dashboard{
    height:500px;
    overflow:scroll;
}
#logo{
    width: 150px;
}